{% extends "base.html" %}

{% block title %}
	<title>Articles</title>
{% endblock %}

{% block content %}
	<h2>We have {{ count }} article{{ count|pluralize }} in total.</h2>
	<p><a href="{% url 'articles:articles-create' %}">Create new article</a></p>
	<table class="table table-bordered">
		<thead>
    		<tr>
      			<th scope="col">Title</th>
      			<th scope="col">Updated on</th>
    		</tr>
  		</thead>
  		<tbody>
		{% for article in articles_unique %}
    		<tr>
      			<td><a href="{{ article.get_absolute_url_detail }}">{{ article.title }}</a></td>
      			<td>{{ article.created_at }}</td>
    		</tr>
		{% endfor %}
  		</tbody>
	</table>
{% endblock %}