{% extends "base.html" %}

{% block title %}
<title>History</title>
{% endblock %}

{% block content %}
<h2>{{ title }} - history</h2>
<ul class="list-group">
	{% for history in history_list %}
	<li class="list-group-item"><a href="{% url 'wiki:category-history-detail' title=history.json_data.fields.title version=history.json_data.fields.version %}">Version {{ history.json_data.fields.version }} | {{ history.json_data.fields.edited_on }} | {{ history.editor.username }} ({{ history.json_data.fields.msg }})</a></li>
	{% endfor %}
</ul>
{% endblock %}